parser close payload should be a string

According to [RFC 6455 section 7.1.6](https://tools.ietf.org/html/rfc6455#section-7.1.6):
>  a Close control frame may contain a status code indicating a reason for closure, followed by UTF-8-encoded data

While the reason is not guaranteed to be human readable, because it is utf-8 it can be safely encoded as a string, which will probably be the format needed for most cases.